package audience

import (
	"github.com/jfkgustav/direq/model"
	"strconv"
)

templ SongCard(song *model.Song) {
	<div id="song-card-top" class="flex justify-between">
		<div>{ song.Song }</div>
		<div>{ strconv.Itoa(song.Year) } </div>
	</div>
	<div id="song-card-bottom" class="flex justify-between">
		<div>{ song.Artist } </div>
		<div class="bg-indigo-500">{ song.Tags }</div>
	</div>
}
