package view

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>direq </title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/public/app.css"/>
		</head>
		<body>
			<nav class="font-serif text-center pt-4">
				<p class="text-blue-500 text-center">
					Önska låtar
				</p>
			</nav>
			<br/>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
